// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

.bg-beige {
  background-color: #f8f1e5;
}

.img-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reservation-form .form-control {
  border-radius: 10px;
  box-shadow: none;
}

.reservation-form .btn {
  border-radius: 10px;
}
