<div class="bg-black py-2">
  <div class="d-flex mb-3 pt-3">
    <%= link_to user_path(current_user), class: "btn btn-ghost text-white" do %>
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>
    <% end %>
    <h1 class="mx-3 text-white">Edit your car</h1>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card bg-white shadow-sm p-4">
        <%= render "form", car: @car %>
      </div>
    </div>
  </div>
</div>
