  <div>
    <header class="bg-dark text-white py-2">
    <%= link_to cars_path, class: "btn btn-ghost" do %>
    <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>    <% end %>
    <div class="container text-start">
      <h1 class="text-center mb-4">Add your car to rent!</h1>
    </div>
    </header>
  </div>

<div class="container mt-5">
  <div class="card shadow-sm p-4">
    <%= render "form", car: @car %>
  </div>
</div>
